* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content {
  padding: 50px 15px 10px;
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.content-header,
.content-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.content-body__image {
  display: none;
}

.content-body__image.active {
  display: block;
  position: relative;
  margin-bottom: 10px;

  width: 220px;
  height: 220px;

  border: 1px solid rgb(22 17 25/1);
  background-color: rgba(137, 43, 226, 0.041);
  transition: 300ms;
}

.content-body__image.active::before {
  display: grid;
  place-items: center;
  content: "No text entered!";
  position: absolute;
  inset: 0;
  background-color: rgb(185, 185, 185);
}

.content-body__image.active:hover {
  box-shadow: 0 0 16px 0 rgba(137, 43, 226, 0.233);
}

.content-header__title {
  text-align: center;
  line-height: 42px;
  color: rgb(22 17 25/1);
}

.content-header__description {
  margin-top: 8px;

  color: rgb(22 17 25/1);
  font-size: smaller;
  line-height: 23px;

  opacity: 0.7;
}

.content-body__input,
.content-body__button {
  padding: 14px 12px;
  width: 100%;

  outline: none;
  font-size: small;
  transition: 100ms;
  border: 0.8px solid rgb(22 17 25/1);
}

.content-body__input::placeholder {
  opacity: 0.6;
}

.content-body__button {
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  background-color: rgb(22 17 25/1);
}

.content-body__input:not(.no-hover):focus,
.content-body__input:not(.no-hover):hover,
.content-body__button:not(.no-hover):focus,
.content-body__button:not(.no-hover):hover {
  outline: 1.2px solid rgb(22 17 25/1);
}

.content-body__actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.content-body__actions__button {
  cursor: no-drop;
  width: 100%;

  font-size: smaller;
  border: 0.8px solid rgb(22 17 25/0.41);
  background-color: rgb(22 17 25/0.41);
}

.content-body__actions__button.active {
  cursor: pointer;
  border: 0.8px solid rgb(22 17 25/1);
  background-color: rgb(22 17 25/1);
}

/* Camera button style */
.content-body__button.btn-camera {
  padding: 10px 8px;
  width: 220px;
}

video.content-body__image.active {
  width: 220px;
  height: 220px;
  object-fit: cover;
}

/* For Modal */
.modal {
  margin: 80px auto;
  padding: 50px 16px;

  position: fixed;
  inset: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 400px;
  
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.315);
  z-index: 2;
}

.modal > header > h1 {
  font-size: 20px;
  text-align: center;
}

.modal-backfon {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.51);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 1;
}
.modal > .modal__footer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}